body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  .nav {
    background-color: #8fd6f5;
    color: #fff;
    padding: 15px;
    text-align: right;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
  .output-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .output-child {
    flex: 1;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .output-title {
    margin-bottom: 10px;
  }
  
  .output-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .result-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  